html {
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
}

.bg-header {
    background-image: url('../assets/img/bg-header-min.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 18.75em;

}
.bg-navbar{
    background-color: rgba(0, 0, 0, 0.157);
    padding: 1.5em 0;
}

.container{
    width: 80%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 2rem;
    margin-bottom: 1em;
    font-weight: 500;
}

.navbar-brand img{
    width: 3em;
}

.navbar-nav{
    background-color: rgba(0, 0, 0, 0.750);
    padding: 1em;
    border-radius: 0.5em;

}
.nav-link{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 1em;
    padding: 0.5em;

}
.nav-link:hover{
    background-color: white;
    color: black;
    border-radius: 0.5em;
}

.main {
    background-color: white;
    margin-top: -2rem;
    border-radius: 0.5em;
    padding: 0.3em;
}

.main-title {
    text-align: center;
    text-transform: uppercase;
}

.card {
    background-color: #A6464E;
    color: white;
    overflow: hidden;
    border-radius: 0.5em;
    margin-bottom: 1em;
}

.card-img{
    width: 100%;
}

.card-body{
    padding: 1em;
}
.card-body h5{ 
    font-size: 1.5rem;
    margin: 1em 0;
    font-weight: 500;
}

.card-body{
    font-weight: 300;
}

.btn {
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5em;
    margin: 0 0.1em;
    border-radius: 0.5em;
}


.btn-dark {
    color: white;
    background-color: #2f2e2e;
    transform: translateY(-10px);

}
@media(min-width:768px){
    .tienda{
        display: flex;
        gap: 1em;
    }
}
/*Nosotros*/
.nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    background-color: #2f2e2e;
}

.nosotros-col-img {
    order: 2;
    background-image: url('../assets/img/nosotros-min\ \(1\).png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 100%;

}
.nosotros-col-tex {
    order: 1;
}

.nosotros-body{
    padding: 1em;
    text-align: center;
    color: white;
}

.nosotros-body h2{
    text-transform: uppercase;
    font-weight: 500;
}

.nosotros-body p{
    font-weight: 200;
}

.btn-danger {
    color: white;
    background-color: #A6464E;

}
/* media querys para nosotros*/
@media (min-width: 576px) {
    .nosotros-col-img {
        height: 500px;
    }
}

@media (min-width: 768px) {
    .nosotros {
        flex-direction: row;
    }

.nosotros-col-img {
    order: 1;
    flex: 1 1 0;
}

.nosotros-col-tex {
    order: 2;
    flex: 1 1 0;
}
}

.bg-footer {
    background-color: #214037;
    color: #e2f2c9;
}

.bg-footer p {
    padding: 1em;
    margin: 0;
    text-align: center;

}